go 1.22.0

use (
	// Main applications of the system
	//
	cmd/gateway
	cmd/cli
	cmd/dashboard
	// Internal modules of the system
	//
	./internal/logging
	./internal/orchestration
	./internal/user
)


